<div class="container pad-top">
    <table class="table itemtable">
        <tr>
            <td><h3>Details for {{item.name}}</h3></td>
            <td></td>
        </tr>
        <tr>
            <td>Name</td>
            <td>{{item.name}}</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>{{item.description}}</td>
        </tr>
        <tr>
            <td>Price</td>
            <td>{{item.price}}</td>
        </tr>
        <tr>
            <td>Available Quantity</td>
            <td>{{item.quantity}}</td>
        </tr>
    </table>
    <div>
        <a class="btn btn-primary" ui-sref="editItem({id:item.id})">Edit</a>
    </div>
</div>
