<div class="container pad-top">
    <a ui-sref="newShipwreck" class="btn-primary btn-lg nodecoration">Add New Item</a>
    <table class="table itemtable">
        <tr>
            <td><h3>All Items</h3></td>
            <td></td>
        </tr>
        <tr ng-repeat="item in items">
            <td>{{item.name}}</td>
            <td>{{item.description}}</td>
            <td>{{item.price}}</td>
            <td>
                <a class="btn btn-primary" ui-sref="viewItem({id:item.id})">View</a>
                <a class="btn btn-danger"  ng-click="deleteItem(item)">Delete</a>
            </td>
        </tr>
    </table>
</div>
